langchain
langchain-core
langchain-huggingface
transformers
huggingface-hub
python-dotenv
langchain-google-genai
google-generativeai
streamlit
langchain-community
pydantic
pydantic[email]
pypdf
beautifulsoup4
langchain-experimental
langchain-chroma
tiktoken
faiss-cpu
wikipedia